.bubble {
    background: #6340B2;
    border-radius: 50px;
    font-weight: normal;
    font-size: 13px;
    color: #FFFFFF;
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}