$primary: (
    purple: #6340B2,
    purpleDark: #3C266E,
    purpleDarker: #26154A,
    purpleDarkest: #1E103A,
    pink: #DA0064,
    yellow: #FFD52D,
    yellowDark: #DDC255,
  );
  
$secondary: (
    teal: #77CCC5,
    tealDark: #5CA29D,
    orange: #FE8E4D,
    orangeDark: #DF7A3E,
    aqua: #4ECC8F,
    aquaDark: #3EA271,
    violet: #AB96C7,
    violetDark: #866CA9,
    olive: #9ACC64,
    oliveDark: #78A746,
);
  
$textPrimary: (
    purpleLight: #A48ED4,
    purpleDark: #604E86,
    yellowDark: #564810,
);

$textSecondary: (
    tealDark: #203735,
    orangeDark: #5E351C,
    aquaDark: #1E4F37,
    violetDark: #412C5E,
    oliveDark: #39521F,
);
