.avatar-corner {
  display: flex;
  margin: 20px;
  justify-content: flex-end;
}

.logo {
  align-items: center;
  margin-top: 100px;
}
img {
  width: 60%;
}

.container {
  display: flex;
  justify-content: center;
}
.btn-id {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.vote {
  background-image: url('http://stump.zackrose.net/images/voting_ballot.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 80%;
  height: 600px;
  margin: 20px;
  opacity: 0.5;
}
.vote:hover {
  opacity: 1;
}

.issues {
  background-image: url('http://stump.zackrose.net/images/issues.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 80%;
  height: 600px;
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}
.issues:hover {
  opacity: 1;
}

.news {
  background-image: url('http://stump.zackrose.net/images/news.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  width: 100%;
  height: 600px;
  margin: 20px;
  font-size: 50px;
  font-weight: bold;
  color: white;
  opacity: 0.5;
}
.news:hover {
  opacity: 1;
}
