// @use "../../../style/colors.scss";

.thumbs {
    display: flex;
    flex-direction: row;

    :first-child {
        margin-right: 10px;
    }
}

.icon-text {
    background: #6340B2;
    border-radius: 13px;
    color: white;
    margin-left: 2px;
}